body{
    margin: 0;
    padding: 0;
    font-family: "Salsa", cursive;
}

.hero-section{
    /* min-height: 100vh; */
    background-color: #F99501;
    background-image: url(/Diwali-Wishes/images/orange-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.para-audio{
    margin-left: 15rem;
}

.hero-section p{
    font-size: 38px;
    max-width: 500px;
}

.jhalar{
    width: 200px;
    margin-bottom: -150px;
}

audio::-webkit-media-controls-panel {
    background-color: #FBD8A4;
}

.music-cont{
    background-color: #FBD8A4;
    max-width: 500px;
    border-radius: 45.92px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 20px;
}

.circle{
    width: 10px;
    height: 10px;
    background-color: #FBD8A4;
    border-radius: 50%;
    flex-shrink: 0;
}

.horizontal-line{
    height: 4px;
    width: 468px;
    background-color: #FBD8A4;
}

.section-divider{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
    padding-top: 15px;
    padding-bottom: 26px;
    /* margin-top: 20px; */
}

.lakshi-ganesha-section{
    background-color: #F99501
}

.lakshi-ganesha-img{
    max-width: 95%;
    display: block;
    max-height: 763px;
    margin-inline: auto;
    margin-bottom: -20px;
}

.wish{
    text-align: center;
    font-family: "Style Script", serif;
    font-weight: 400;
    font-size: 60px;
}

@media (max-width : 820px){
    .second-deepak{
        display: none;
    }

    .first-deepak{
        display: block;
        margin-left: auto;
    }

    .para-audio{
        margin-left: 1rem;
    }

    .jhalar{
        margin-bottom: -35px;
    }

    .first-deepak{
        /* width: 100%; */
        max-width: 350px;
    }
}

@media (max-width : 560px){
    .soulful-Text, .playing-music{
        display: none;
    }

    /* .playing-music{
        display: none;
    } */

    .music-cont{
        padding-left: 0px;
        max-width: 380px;
    }

    .hero-section p{
        font-size: 30px;
        max-width: max-content; /* new learning */
    }

    .first-deepak{
        width: 100%;
        max-width: 350px;
    }
    
}

/* @media (max-width : 428px) {
    .first-deepak{
        width: 100%;
    }

} */

/* @media (width < 820px){
    .second-deepak{
        display: none;
    }

} */
